body {
    margin:auto;
    width: 100%;
}

hr{
    width:100%;
}
.nav-wrapper {
    background-color: #c7e7c5;
    position: fixed;
    padding:5px;
    width: 100%;
    top:0;
    left:0;
    z-index: 1000;
}
.background-img {
    position:relative;
    z-index:auto;
}
.nav-list {
    list-style:none;
    padding:0;
    display:flex;
    align-items:stretch;
    justify-content:space-around;
    width:100%;
}
.popular-categories-header {
    text-align: center;
    background-color: #c7e7c5;
    text-shadow: 2px 2px 4px #3d7639;
}

.nav-list li {
    display:inline;
    margin:0px;
}

.nav-list li a:hover {
    background-color:chartreuse;
}

.nav-list li a:active
{
    background-color:rgb(217, 217, 236);
}

.nav-list li a:visited {
    background-color:springgreen;
}

.nav-item {
    color:black;
}

.form-container{
    background-color:rgb(176, 205, 192);
    width:330px;
    border-top-left-radius: 10px;
border-top-right-radius: 10px;
position:fixed;
bottom:-280px;
right:0;
transition:0.5s;
}

.form-container:hover{
    bottom:0;
    cursor:pointer;
}
#email-icon {
    width:50px;
    float:left;
}

.form-head-container {
    background-color: #c7e7c5;
    padding:5px;
    border-top-left-radius: 10px;
border-top-right-radius: 10px;
}
.form-item{
    margin-left:15px;
padding-left:10px;
}
#subject{
    width:200px;
    height:100px;
    cursor:text;
}

#contact-us-label {
    color:rgb(32, 30, 30);
    height: 20px;
    padding:10px;
    position:relative;
    text-align: center;
}

#submit-button{
    background-color: rgb(26, 25, 26);
    border:none;
    padding:7px 12px;
    color:rgb(221, 199, 199);
    margin:9px;
    text-align:center;
    text-decoration:none;
    display:inline-block;
}
#caption-1 {
    position: absolute;
    top:40%;
    left: 10%;
    fill-rule:34px;
    right:0%;
    color:rgb(30, 33, 31);
    text-shadow: #ffffff;
    font-size:12vw;
    animation-name: caption-fade;
    animation-duration:2s;
}
@keyframes caption-fade {
    0% {opacity:0;bottom:100%;}
    100% {opacity:1;top:12%;}
}

.featured-wrapper {
    display:flex;
    position:relative;
    overflow:auto;
    justify-content:space-around;
}

.product-container {
    background-color:green;
    text-align:center;
    display:flex;
    justify-items:center;
    flex-direction:column;
    border-width:2px;
    width: 35%;
    min-height: 8px;
    position:relative;
    max-width:35%;
    border-radius:15px;
    padding:11px;
    border-color:#b2cd68;
    box-shadow: #e0fbde;
    border-style:double;
    margin-top: 8px;
    animation-name:product-container-anim;
    animation-duration:3s;
   
}
@keyframes product-container-anim {
    0% {opacity:0;top:50px;}
    100% {opacity:1;top:0px;}
}

#social-media-container {
    background-color:#000000;
}

img{
    max-width:100%;
    height:auto;
}
.product-container img 
{
    width:100%;
    height:100%;
    object-fit:cover;
    border-radius:19px;
    border-spacing:10px;
    position:relative;
}
.cat-text
{
    font-size:1.5vw;
    font-weight:bold;
    color:white;
    margin-top:10%;
    margin-bottom:-2%;
}
.social-panel
{
    display:flex;
    justify-content:space-around;
    padding:100px;
}
.social-media-board
{
    background-color:#ffffff;
    list-style:none;
    padding:0px;
    display:flex;
}
.social-media-board li
{
    margin:0px 10p
}
.social-media-container 
{
    background-color:#cae7b7;
    width:100%;
    padding:15px 0;
}

.social-media-board img
{
    width:35px;
    height:35px;
    cursor:pointer;
    transition:transform 0.3s ease;
}
.social-media-board img:hover
{
    transform: scale(1.2);
}
.image-holder::before 
{
    content: "";
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,4);
}
